uuid() generates UUID with incorrect version fields. Wrong V4 format

<!--
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

If your issue relates to Terraform Cloud/Enterprise, please contact tf-cloud@hashicorp.support.
If your issue relates to a specific Terraform provider, please open it in the provider's own repository. The index of providers is at https://registry.terraform.io/browse/providers.

To fix problems, we need clear reproduction cases - we need to be able to see it happen locally. A reproduction case is ideally something a Terraform Core engineer can git-clone or copy-paste and run immediately, without inventing any details or context. 

* A short example can be directly copy-pasteable; longer examples should be in separate git repositories, especially if multiple files are needed
* Please include all needed context. For example, if you figured out that an expression can cause a crash, put the expression in a variable definition or a resource
* Set defaults on (or omit) any variables. The person reproducing it should not need to invent variable settings
* If multiple steps are required, such as running terraform twice, consider scripting it in a simple shell script. Providing a script can be easier than explaining what changes to make to the config between runs.
* Omit any unneeded complexity: remove variables, conditional statements, functions, modules, providers, and resources that are not needed to trigger the bug
* When possible, use the [null resource](https://www.terraform.io/docs/providers/null/resource.html) provider rather than a real provider in order to minimize external dependencies. We know this isn't always feasible. The Terraform Core team doesn't have deep domain knowledge in every provider, or access to every cloud platform for reproduction cases.

-->

### Terraform Version
<!---
Run `terraform version` to show the version, and paste the result between the ``` marks below.

If you are not running the latest version of Terraform, please try upgrading because your issue may have already been fixed.
-->

```
Terraform v1.0.5
```

### Terraform Configuration Files
<!--
Paste the relevant parts of your Terraform configuration between the ``` marks below.

For Terraform configs larger than a few resources, or that involve multiple files, please make a GitHub repository that we can clone, rather than copy-pasting multiple files in here. For security, you can also encrypt the files using our GPG public key at https://www.hashicorp.com/security.
-->

```terraform
output "uuid" {
  value = "${uuid()}"
}
```

### Expected Behavior
As write here : https://www.terraform.io/docs/language/functions/uuid.html 

> The id is a generated and formatted as required by RFC 4122 section 4.4, producing a Version 4 UUID. The result is a UUID generated only from pseudo-random numbers.

So the uuid should respect the RFC

### Actual Behavior

Terraform outputs a UUID which doesn't encode the correct RFC 4122 v4 version information, for example,
`800e82e5-b042-9ebd-944c-831673b7fc5d
`

### References
It's a duplicate of this issue #18808 but the doc is still wrong


Thanks for reporting this, @filol!

Given that even we seem to keep confusing ourselves about having a function called `uuid` that doesn't actually generate a UUID, my instinct here is to reverse our previous position and switch this function to generating a standards-compliant version 4 UUID.

Something that's changed since our original discussion about this is that we ended up adding a standards-compliant UUID library to Terraform's dependencies anyway, to implement the `uuidv5` function, and so making the `uuid` function also use that library ([`uuid.NewRandom`](https://pkg.go.dev/github.com/google/uuid#NewRandom), specifically) wouldn't increase our dependency burden at all.

This does mean that the result of `uuid` will, as a practical matter, be slightly less random than it was before, due to including the fixed version portions you're talking about here, but that shouldn't be a material difference for any reasonable existing use of this function, and our documentation has never promised that the result would be exactly 128 bits of random number. I think it's more intuitive to match the standard definition of what a UUID is, and thus allow folks to bring the same expectations they might make about version 4 UUIDs generated in other systems.


I'd still appreciate if `uuid` was UUIDv4 compliant